/* Background pattern from Subtle Patterns */
/* Header picture (c) Alina Rouvinen */
body {
  background-image: url("tex2.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 170px;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #000;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Adlanta;
  src: url(Adlanta.otf);
}
#text h1 {          /* headings */
  font-size: 29px;
  color: rgba(74,140,93,0.6);
  font-weight: bold;
  margin-top: 0px;
}
#text h2 {
  font-size: 22px;
  color: rgba(74,140,93,0.4);
  margin-top: 30px;
}
#cv h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 29px;
  color: #579b93;
}
#other h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 29px;
  color: #579b93;
}
#left h1 {
  font-size: 62px;
  color: #579b93;
  margin-top: 10vw;
  line-height: 110%;
  margin-bottom: 50px;
  -webkit-transition-duration: 1.2s; /* Safari */
  transition-duration: 1.2s;
}
#left:hover h1 { color: #82cca7;
}
a {                 /* links */
  color: #7e936e;
  text-decoration: none;
  font-weight: normal;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
a:hover { color: #508391;
}
header h1 {   /* header headings */
  padding-top: 2vw;
  margin: 0px 0px 0px 0px;
  font-size: 120px;
  font-weight: normal;
  letter-spacing: -2px;
  font-family: 'Quicksand', sans-serif;
  color: #fefefe;
}
header h1:hover { cursor: default;
}
#headings {
  margin: 0 auto;
  margin-top: 16vw;
}
header {          /* header */
  background-image: url("woop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-backround-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
header p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  color: rgba(250,250,250,0.4);
  text-shadow: 0px 0px 0px #727272;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
header p:hover { color: #e8e8e8; cursor: default;
}
.click {              /* switch language button */
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 35px;
  text-shadow: 0px 0px 1px #212121;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: #e0e0e0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.click.eng { width: 240px; }
.click.fin { width: 400px;
}
.click:hover {
  background: transparent;
  color: #e0e0e0;
  cursor: pointer;
}
#wrap {               /* wrap div */
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-height: 100%;
  padding-bottom: 80px;
}
#left {           /* left box */
  background-color: rgba(250,250,250,0.5);
  box-sizing: border-box;
  padding: 3.5vw 11vw 0vw 11vw;
  font-family: 'Quicksand', sans-serif;
  width: 50%;
  height: 100%;
  float: left;
  margin-left: 0;
  text-align: center;
  position: relative;
  line-height: 150%;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #6b706f;
  -webkit-transition-duration: 0.8s; /* Safari */
  transition-duration: 0.8s;
  overflow: hidden;
}
#left:hover { cursor: default;
}
#right {        /* right box */
  width: 50%;
  box-sizing: border-box;
  height: 100%;
  margin-left: 50%;
  padding: 0px;
  text-align: center;
  position: relative;
}
table.intro {     /* introduction table */
  table-layout: fixed;
  box-sizing: border-box;
  text-transform: uppercase;
}
.intro td {
  box-sizing: border-box;
  table-layout: fixed;
  display: table-cell;
  padding: 30px;
  width: 100vh;
  height: 33vh;
  line-height: 30px;
}
.intro .norm {
  background-color: rgba(0,0,0,0.02);
  text-align: left;
  font-size: 16px;
  letter-spacing: 2px;
  color: #676868;
}
.intro .bold {
  text-align: center;
  width: 30%;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 28px;
  background-color: rgba(0,0,0,0.02);
  color: rgba(74, 140, 93, 0.25);
}
#text {         /* text container */
  width: 100%;
  height: auto;
  text-align: justify;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #595b5b;
  padding: 70px 100px 70px 100px;
  margin-bottom: 0px;
}
#cv {           /* cv container */
  width: 100%;
  background-color: rgba(0,0,0,0.06);
  text-align: justify;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #353535;
  padding: 50px 100px 60px 100px;
  margin-bottom: 0px;
}
#cv table { margin: 0 auto; width: 100%;  /* tables inside #cv */
}
.cv td {
  background-color: rgba(0,0,0,0.06);
  padding: 20px;
  width: 100vh;
  line-height: 30px;
  font-size: 16px;
  color: #595b5b;
}
.cv .head {
  text-align: left;
  background-color: transparent;
  padding-left: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  color: #60a072;
}
.cv .fill { background-color: transparent;
}
.cv2 td {
  background-color: rgba(0,0,0,0.06);
  padding: 20px;
  width: 100vh;
  line-height: 30px;
  font-size: 16px;
  color: #595b5b;
}
.cv2 .head {
  text-align: left;
  background-color: transparent;
  padding-left: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  color: #60a072;
}
.cv2 .fill { background-color: transparent; width: 0px;
}
#plus {                     /* info box */
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,0.03);
  color: #48827b;
  font-weight: bold;
  font-size: 16px;
  padding: 30px 100px 30px 100px;
}
table.con {             /* contact links table */
  position: relative;
  margin-top: 0px;
  margin-left: 50px;
  width: 45%;
}
.con .fill {
  width: 2%;
  padding: 0px;
  background-color: transparent;
}
.con td {
  padding: 20px;
  text-align: center;
  width: 20%;
  background-color: rgba(250,250,250,0.03);
  line-height: 30px;
  font-size: 16px;
}
#contact .blah {      /* text in contact box */
  width: 45%;
  position: relative;
  float: left;
  margin-right: 60px;
}
#contact strong { color: #579b93;
}
#other {            /* additional text container */
  width: 100%;
  height: auto;
  text-align: justify;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #595b5b;
  padding: 40px 100px 50px 100px;
  margin-bottom: 0px;
}
#contact {        /* contact container */
  background-image: url("bla.png");
  background-repeat: repeat;
  background-color: #333;
  background-size: 100px;
  width: 100%;
  min-height: 240px;
  font-size: 16px;
  text-align: justify;
  box-sizing: border-box;
  padding: 50px 100px 50px 100px;
  line-height: 30px;
  color: #8f918c;
}
footer {
  background-color: #000;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 80px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  position: absolute;
  margin-bottom: 0px;
  margin-top: -80px;
  color: #aaa;
}
footer:hover { cursor: default;
}
.lang { display: none; }        /* toggle page language */
.lang.fin { display: none; }
.lang.eng { display: block;
}
@media (max-width: 900px) {       /* mobile styles */
  header {
    height: 800px;
  }
  header h1 { margin-top: 60%; font-size: 72px;
  }
  #left h1 {
    font-size: 42px;
  }
  #left {
    background-image: none;
    padding: 50px;
    box-sizing: border-box;
    font-size: 22px;
    float: none;
    width: 100%;
    height: 420px;
  }
  #right {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  table.intro { margin: 0 auto; width: 100%;
  }
  .intro .norm { font-size: 16px;
  }
  #text {
    box-sizing: border-box;
    padding: 40px 40px 50px 40px;
    height: auto;
  }
  #cv {
    width: 100%;
    background-color: rgba(0,0,0,0.06);
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #353535;
    padding: 50px 30px 60px 30px;
    margin-bottom: 0px;
  }
  #cv table { margin: 0 auto; width: 100%;
  }
  .cv td {
    padding: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #595b5b;
  }
  .cv .head {
    text-align: left;
    padding-left: 0px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #60a072;
  }
  .cv .fill { background-color: transparent;
  }
  .cv2 td {
    padding: 10px;
    width: 20%;
    line-height: 30px;
    font-size: 16px;
    color: #595b5b;
  }
  .cv2 .head {
    text-align: left;
    padding-left: 0px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #60a072;
  }
  .cv2 .fill { background-color: transparent; width: 1%;
  }
  #plus {
    box-sizing: border-box;
    width: 100%;
    line-height: 28px;
    text-align: left;
    padding: 30px 40px 30px 40px;
  }
  #other {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 18px;
    padding: 40px 40px 50px 40px;
    margin-bottom: 0px;
  }
  #contact {
    width: 100%;
    text-align: justify;
    box-sizing: border-box;
    padding: 40px 40px 50px 40px;
    line-height: 30px;
  }
  table.con {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    color: #aaa;
  }
  #contact .blah {
    margin: 0 auto;
    width: 100%;
    position: relative;
    margin-right: 60px;
    margin-bottom: 10px;
  }
}
